<%= form_with(model: @tweet, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tweet.errors.count %>件のエラーあります。</h2>
      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="tweet_content">
      <%= form.label :content %>
      <br>
      <div class="textarea">
        <%= form.text_area :content %>
      </div>
    </div>
    <div class="form">
      <%= form.submit %>
    </div>
<% end %>
  <div class="back_to_top">
    <%= link_to "ツイート一覧画面にもどる", tweets_path, class: 'btn btn-primary'%>
  </div>
