<div class="center-block bg-primary text-center" style="width:40%">
  <header>ツイート一覧</header>
</div>
  <br>
  <p><%= notice %></p>
    <div class="mainTop">
      <span class="label label-primary">投稿内容</span>
  </div>
    <br>
      <% @tweets.each do |tweet| %>
        <div class="panel panel-default panel-info">
          <div class="panel-body">
            <%= tweet.content %>
          </div>
            <div class="panel-footer">
              <%= link_to '詳細を確認する', tweet_path(tweet.id) %>
              <%= link_to "ツイートを編集する", edit_tweet_path(tweet.id) %>
              <%= link_to 'ツイートを削除する', tweet_path(tweet.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%>
            </div>
        </div>
      <% end %>
  <br>
  <div class="mainBottom">
    <%= link_to '新しくツイートする', new_tweet_path, class: 'btn btn-primary' %>
  </div>
