<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-primary mb-2">
  <span class="navbar-brand">Twitter</span>
  </nav>
    </header>
    <%= yield %>
    <footer>
      <p>© 2020-2021 DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
